/PruebaIII/nbproject/private/
/SistemaInventarioAlmacén/nbproject/private/
/LineaProduccionFabrica/nbproject/private/
/SistemaInventarioAlmacén/build/
/LineaProduccionFabrica/build/
/ExamenProgramaciónIIValeriaSerrano/nbproject/private/
/Prueba1Parcial2ProgramaciónIIValeriaSerrano/nbproject/private/
/Prueba1Parcial2ProgramaciónIIValeriaSerrano/build/
